<!-- Log In --->
<div class="col">
  <div class="jumbotron text-center">

    <h3 class="display-5">Log in</h3>

    <ul class="list-unstyled">
      <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      <li>
        <%= f.label :username %><br>
        <%= f.text_field :username%><br> </li>
      <li>
        <%= f.label :password %>
        <%= link_to "forgot password", new_password_reset_path %>
        <br>
        <%= f.password_field :password %><br></li>
      <li class="mt-2">
        <%= f.submit "Login", class: "btn btn-success"%>
        <%= link_to "Sign up", signup_path, class: "btn btn-primary"%>
        <% end %>
      </li>
      <ul>
  </div>
</div>