<div class="col text-center">
  <div class="jumbotron w-50 m-auto">
    <h3 class="display-5">Reset Password:</h3>

    <%= form_for @user, :url => password_reset_path(params[:id]) do |form| %>
    <div class="card-body ">
      <div class="error_messages">
        <h2> Form is invalid </h2>
        <ul>
          <% for message in @user.errors.full_messages%>
          <li> <%= message %> </li>
          <% end %>
        </ul>
      </div>
      <%= form.label :password %>
      <%= form.text_field :password, class: "form-control mb-4" %>
      <hr>
      <%= link_to "Reset Password", '/password/reset', method: :post, class: "btn btn-warning"%><br />
      <hr>
    </div>
    <div class="m-auto">
      <%= form.submit "Change",  class: "btn btn-primary"%>
      <%= link_to "Logout", '/logout', method: :delete, class: "btn btn-warning"%>
    </div>
    <% end %>
  </div>
</div>