<div class="col text-center">
  <div class="jumbotron w-50 m-auto">
    <h3 class="display-5">Reset Password:</h3>

    <%= form_for @user, :url => password_reset_path(params[:id]) do |form| %>
      <% if @user.errors.any? then %>
      <div class="error_messages">
        <h2> Form is invalid </h2>
        <ul>
          <% for message in @user.errors.full_messages %>
          <li> <%= message %> </li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control mb-4" %>
    <div class="m-auto">
      <%= form.submit "Update password",  class: "btn btn-primary"%>
    </div>
    </div>
    <% end %>
  </div>
</div>