<div class="card">
  <div class="card-header">
    <% user = User.find_by(id: comment.user_id) %>
    <%= image_tag user.avatar, alt: 'avatar', class:'avatar'%>
    <b> <%= user.username %>
    </b>
    <%#= comment.created_at.strftime("%H:%M  %m.%d.%Y ") %>

    <% if !current_user.nil? then %>
    <% if (comment.user_id == user.id) || user.role == 'admin' then %>
    <%# = link_to 'x', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' },
               class: "badge badge-danger float-right " %>
    <% end %>
    <% end %>
  </div>
  <div class="card-body">

    <div class="card-text border-success">
      <%= comment.body %>
    </div>
    <br />
    <p class="card-text text-muted"><small class="text-muted">
        <%= time_ago_in_words(comment.created_at) %>
      </small>
    </p>

    <!-- Next comment --->

    <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#comment-<%= comment.id %>" aria-expanded="false" aria-controls="comment-<%= comment.id %>">
      Reply
    </button>

    <div class="collapse" id="comment-<%= comment.id %>">
      <%= form_with(model: [comment, Comment.new], local: true) do |form| %>
      <p>
        <%= hidden_field_tag "article_id", @article.id %>
        <%= hidden_field_tag "comment_id", comment.id %>
        <%= form.text_area :body, :class => "form-control col-4" %>
      </p>
      <p>
        <%= form.submit "Create", :class => "btn btn-outline-dark" %>
      </p>
      <% end %>
    </div>

    <div class="col-6 offset-md-2">
      <% comment.comments.each do |comcom| %>
      <%= image_tag user.avatar, class:'avatar'%>
      <%#= link_to comcom.user_id, comcom.user %>
      <br>
      <strong>Commented:</strong>
      <%= comcom.body %>
      <br>
      <%= comcom.created_at.to_s(:short) %>
      <br>
      <br>
      <% end %>
    </div>
  </div>
</div>