<div class="card">
  <div class="card-header">
    <%= content_tag :div, style: "margin-left: #{level * 1}px" do %>

    <div class="comment-avatar ">

      <%= image_tag comment.user.avatar, alt: 'avatar', class:'avatar'%>
      <b> <%= comment.user.username %></b>
    </div>

    <div class="card-body">
      <div class="card-text border-success">

        <%= comment.body %>
      </div>

      <p class="card-text text-muted"><small class="text-muted">
          <%= time_ago_in_words(comment.created_at) %>
        </small>
      </p>
    </div>
    <div class="mb-2">
      <% unless current_user.nil? %>
      <%= link_to "Reply", new_comment_path(:comment_id => comment.id, :article_id => @article.id), class: "btn btn-primary btn-sm" %>
      <% end %>

      <% current_user_id = current_user.nil? ? false : current_user.id; if comment.user.id == current_user_id then %>
      <%= link_to 'Remove', [comment.commentable, comment, {:article_id => @article.id}],
                    method: :delete,
                    data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm"  %>
      <% end %>
    </div>

    <% unless comment.comments.blank? %>
    <%= render comment.comments, :level => level + 1 %>
    <% end %>
    <% end -%>
  </div>

</div>