  <div class="card mb-3">
    <div class="card-header">
      <% user = User.find_by(username: comment.commenter); if !user.avatar.nil? %>
      <image alt='avatar' class='avatar' src="<%= url_for(current_user.avatar) %>">
        <%end %>
        <b> @<%= comment.commenter %>
        </b>
        <%= comment.created_at.strftime("%H:%M  %m.%d.%Y ") %>
    </div>
    <div class="card-body">

      <div class="card-text border-success">
        <%= comment.body %>
      </div>
      <br />
      <% if !current_user.nil? then %>
      <% user_id = current_user.id; if (comment.commenter == User.find(user_id).username) || User.find(user_id).role == 'admin' then %>
      <%= link_to 'Remove', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' },
               class: "btn btn-danger card-link" %>
      <% end %>
      <% end %>
    </div>
  </div>