<div class="" id="article-reply">
  <%= form_with(model: [@article, Comment.new]) do |form|%>
<% if comment.errors.any? %>
  <div id="error-message">
    <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comments from being saved: </h2>
    <ul> 
    <% comment.errors.full_message.each do |message| %>
    <li> <%= message %> </li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= hidden_field_tag "article_id", @article.id %>
  <%= form.hidden_field :user_id, value: current_user.id%>

  <%= form.text_area :body, :class => "form-control" %>
  <p>
    <%= form.submit "Create", :class => "btn btn-outline-dark" %>
  </p>
  <% end %>
</div>