<div class="card border-success">
  <div class="card-header bg-success"> Add a comment:</div>

  <%= form_with(model: [@article, @article.comments.build ], local: true ) do |form| %>

  <% if @article.errors.any? %>
  <div class="alert alert-danger" id="error_explanation" role="alert">
    <h2>
      <%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="card-body">
    <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar, alt: 'avatar', class:'avatar'%>
    <%end %>
    @<%= current_user.username %>
    <%= form.hidden_field :commenter, value: current_user.username%>
    <%# end %>
    <%= form.text_area :body, class: "form-control" %>
  </div>
  <div class="card-body">
    <%= submit_tag 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>

</div>