<button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#article-reply" aria-expanded="false" aria-controls="article-reply">
  Reply
</button>

<div class="" id="article-reply">
  <%#= form_with(model: [@article, Comment.new], local: true) do |form| %>
  <%= form_with(model: [ @article, Comment.new], local: true) do |form| %>

  <%= hidden_field_tag "article_id", @article.id %>
  <%= form.hidden_field :user_id %>

  <%#= form.hidden_field :commenter, value: current_user.username%>
  <%= form.text_area :body, :class => "form-control col-4" %>
  <p>
    <%= form.submit "Create", :class => "btn btn-outline-dark" %>
  </p>
  <% end %>
</div>