<%= form_with(model: @article, remote: true) do |form| %>
<% if @article.errors.any? %>
<div class="modal fade" id="update_article_<%= article.id %>"> 
<% end %>
<% if current_user %>
<%= form.hidden_field :user_id, value: current_user.id, class: "form-control"%>
<% end %>
<div class="card-body text-white">
  <%= form.label :title %>
  <%= form.text_field :title, class: "form-control" %>
</div>
<div class="card-body text-white">
  <%= form.file_field :image %>
</div>
<div class="card-body text-white">
  <%= form.label :text %>
  <%= form.text_area :text, value: 'new text by ' + current_user.username , class: "form-control" %>
</div>
<div class="card-body">
  <%= submit_tag 'Submit', class: 'btn btn-primary' %>
  <%= link_to  "Close", articles_path,  class: "btn btn-secondary" %>
</div>
<% end %>
</div>