<form class=" m-auto">
  <div class="form-row">
    <%= form_with(url: articles_path,
      method: "get",
      local: true) do |form| %>
    <div>
      <%= form.text_field :search, :value => @search,
        autofocus: true,
        placeholder: "Search by title",
        class: "form-control mr-sm-2"%>
    </div>
    <div>
      <%= form.submit "Search", class: "btn btn-outline-primary my-2 my-sm-0" %>
    </div>
    <% end %>
    <% if logged_in? %>
    <div class="col-auto" id="new-article">
      <%= link_to 'New Article', new_article_path,
        remote: true,
        class: "btn btn-success"%>
    </div>
    <% end %>
   
  </div>
</form>
<table class="table mt-4" id="articles">
  <tr>
    <th scope="col">User</th>
    <th scope="col">Label</th>
    <th scope="col">Text</th>
    <th scope="col">Created at</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  <%= render @articles %>
</table>

<div class="m-auto">
  <%= will_paginate @article, previous_label: "Older", next_label: "Newer" %>
</div>