<div class="col">
  <div class="card bg-light mb-3"" style=" min-width: 22rem;">

    <div class="card-header bg-white"> <b>
        <%= @article.title %>
      </b>
    </div>

    <div class="card-body">
      <% if !@article.image.nil? then %>
      <div class="card-img mb-2">
        <%= image_tag @article.image, class: 'rounded img-fluid' %>
      </div>
      <% end %>
      <p class="card-text">
        <%= @article.text %>
      </p>
      <p class="card-text text-muted"><small class="text-muted">
          <%= time_ago_in_words(@article.created_at) %>
        </small>
      </p>
    </div>

    <div class="card-footer text-muted bg-light">
      <% user = User.find(@article.user_id) %>
      <%= image_tag user.avatar, alt: 'avatar', class:'avatar'%>
      <b>
        <%= user.username %>
      </b>
    </div>

    <p class="mx-auto">
      <% user_id = current_user.nil? || current_user.id; if @article.user_id == user_id || User.find(user_id).role == 'admin' then %>
      <%= link_to  "Delete", article_path(@article),
                 method: :delete,
                 data: { confirm: 'Are you sure?'},
                class: "btn btn-danger btn-sm" %>
      <%= link_to  "Edit", edit_article_path(@article), class: "btn btn-info btn-sm" %>
      <% end %>
      <%= link_to  "View All", articles_path, class: "btn btn-secondary btn-sm" %>

      <% unless current_user.nil? %>
      <%= link_to "Leave a comment on the article", new_comment_path(:article_id => @article.id), class: "btn btn-primary btn-sm" %>
      <% else %>
      <div>
        <%= link_to "Log In", login_path(:before_login_path => request.path) %>
        to leave a comment.
      </div> <br>
      <% end %>
    </p>

  </div>
  <% unless @article.comments.empty?  then %>
  <div class="container py-2">
    <div class="row">
      <div class="comments col-md-9" id="comments">
        <h3 class="mb-4 font-weight-light">Comments</h3>
        <%= render @article.comments, :level => 0 %>
      </div>
    </div>
  </div>
<% end %>

</div>