    <% Article.find_each.reverse_each do |article| %>
      <div class="card  mb-4" style=" min-width: 22rem;">
      <div class="card-header bg-white">
        <b>
          <% user = User.find(article.user_id); if !user.avatar.nil? %>
          <%= image_tag user.avatar, alt: 'avatar', class:'avatar'%>
          <%end %>
          <%= user.username %>
        </b>
      </div>

      <div class="card-body">
        <h5 class="card-title ">
          <%= article.title %>
        </h5>
        <% if !article.image.nil? then %>
        <div class="card-img">
          <%= image_tag article.image, class: 'rounded img-fluid' %>
        </div>
        <% end %>
        <p class="card-text mt-4">
          <%= article.text %>
        </p>
        <p class="card-text text-muted"><small class="text-muted">
            <%= time_ago_in_words(article.created_at) %>
          </small>
        </p>
      </div>
      <div class="card-footer bg-white">
        <%= link_to 'Show more', 'articles/' + article.id.to_s, class: 'btn btn-light'%>
      </div>
    </div>
    <% end %>